@media (min-width: 300px) {
  #textname {
    height: 390.688px;
    font-size: 14px;
  }
}

@media (min-width: 300px) {
  #heading {
    font-size: 21.4px;
  }
}

@media (min-width: 300px) {
  #herosec1 {
    height: 680.344px;
  }
}

@media (min-width: 300px) {
  #lessons {
    height: 226px;
  }
}

@media (min-width: 300px) {
  #title2 {
    font-size: 24px;
  }
}

@media (min-width: 300px) {
  #license {
    height: 2354.06px;
  }
}

@media (min-width: 300px) {
  #reasons {
    height: 1612.62px;
  }
}

@media (min-width: 576px) {
  #reasons {
    height: 1504.61px;
    margin: 120px 30px;
  }
}

@media (min-width: 576px) {
  #textname {
    height: 300.688px;
    font-size: 17px;
  }
}

@media (min-width: 576px) {
  #herosec1 {
    height: 818.344px;
  }
}

@media (min-width: 576px) {
  #lessons {
    height: 390px;
  }
}

@media (min-width: 576px) {
  #heading {
    font-size: 29.4px;
  }
}

@media (min-width: 576px) {
  #license {
    height: 3513.05px;
  }
}

@media (min-width: 768px) {
  #reasons {
    height: 528.594px;
  }
}

@media (min-width: 768px) {
  #lessons {
    height: 540px;
  }
}

@media (min-width: 768px) {
  #herosec1 {
    height: 360.344px;
    margin: 100px 0px;
  }
}

@media (min-width: 768px) {
  #textname {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  #license {
    height: 1455.05px;
  }
}

@media (min-width: 768px) {
  h4 {
    font-size: 14.704px;
  }
}

@media (min-width: 768px) {
  #herocon {
    height: 370.375px;
  }
}

@media (min-width: 992px) {
  #lessons {
    height: 695px;
  }
}

@media (min-width: 992px) {
  #license {
    height: 1503.05px;
  }
}

@media (min-width: 992px) {
  #heading {
    font-size: 38.4px;
  }
}

@media (min-width: 992px) {
  #textname {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  #title2 {
    font-size: 35px;
  }
}

@media (min-width: 992px) {
  #reasons {
    height: 496.609px;
  }
}

@media (min-width: 992px) {
  h4 {
    font-size: 19.704px;
  }
}

@media (min-width: 1200px) {
  #lessons {
    height: 750px;
  }
}

@media (min-width: 1200px) {
  h4 {
    font-size: 23.704px;
  }
}

@media (min-width: 1200px) {
  #reasons {
    height: 663.594px;
  }
}

@media (min-width: 1400px) {
  #lessons {
    height: 847px;
  }
}

@media (min-width: 1400px) {
  #herocon {
    height: 400.375px;
  }
}

@media (min-width: 1400px) {
  #reasons {
    height: 851.609px;
    margin: 0px;
  }
}

