@media (min-width: 300px) {
  #sec634 {
    height: 750px;
  }
}

@media (min-width: 576px) {
  #sec0993 {
    height: 950.92px;
  }
}

@media (min-width: 768px) {
  #sec0993 {
    height: 760.906px;
  }
}

@media (min-width: 992px) {
  #sec0993 {
    height: 600.891px;
  }
}

@media (min-width: 992px) {
  #sec634 {
    height: 507px;
  }
}

@media (min-width: 300px) {
  #img65 {
    width: 325px;
    height: 225px;
  }
}

@media (min-width: 576px) {
  #img65 {
    width: 472px;
    height: 279px;
  }
}

@media (min-width: 300px) {
  #sec332 {
    height: 1500.938px;
  }
}

@media (min-width: 1400px) {
  #courses {
    height: 760.92px;
  }
}

@media (min-width: 1400px) {
  #herow {
  }
}

@media (min-width: 1400px) {
  #sec332 {
    height: 681.94px;
  }
}

